<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

</head>
<body>
    <h1>A website to gather some memes</h1>
    <p>Here is your Meme! This will refresh in 30 seconds!</p>
    <p><img src="{{meme_pic}}" alt=""></p>
    <p>Current subreddit:{{subreddit}}</p>
</body>
</html>